			<div class="btn-menu" onclick="window.location.href = '#/Empleado'">
		        <button><span class="glyphicon glyphicon-th"></span></button>Empleado
		    </div>
			<div class="btn-menu" onclick="window.location.href = '#/Importacion'">
		        <button><span class="glyphicon glyphicon-th"></span></button>Importacion
		    </div>
			<div class="btn-menu" onclick="window.location.href = '#/Repuesto'">
		        <button><span class="glyphicon glyphicon-th"></span></button>Repuesto
		    </div>
			<div class="btn-menu" onclick="window.location.href = '#/Vehiculo'">
		        <button><span class="glyphicon glyphicon-th"></span></button>Vehiculo
		    </div>
			<div class="btn-menu" onclick="window.location.href = '#/Ventas'">
		        <button><span class="glyphicon glyphicon-th"></span></button>Ventas
		    </div>
			<div class="btn-menu" onclick="window.location.href = '#/Proveedor'">
		        <button><span class="glyphicon glyphicon-th"></span></button>Proveedor
		    </div>
			<div class="btn-menu" onclick="window.location.href = '#/Cliente'">
		        <button><span class="glyphicon glyphicon-th"></span></button>Cliente
		    </div>
			<div class="btn-menu" onclick="window.location.href = '#/Garantia'">
		        <button><span class="glyphicon glyphicon-th"></span></button>Garantia
		    </div>
			<div class="btn-menu" onclick="window.location.href = '#/Preventa'">
		        <button><span class="glyphicon glyphicon-th"></span></button>Preventa
		    </div>
		
