<div class="btn-group">
	<button type="button" class="btn btn-default" ng-click="nuevo()">Nuevo Proveedor</button>
	<button type="button" class="btn btn-default" ng-click="cancelar()">Listar Proveedor</button>
</div>
				
<div class="panel panel-primary" ng-hide="panelEditar">
    <div class="panel-heading">Parametrizaci&oacute;n de Proveedor</div>
    <div class="panel-body">
        <table class="resultados table table-striped">
            <tr>
                				<th>
                                    nombre
                                </th>				<th>
                                    direccion
                                </th>				<th>
                                    telefono
                                </th>				<th>
                                    pais
                                </th>
				
				<th>
                    <input class="form-control" ng-model="q"  placeholder="Buscar"/>
                </th>
            </tr>
            <tr dir-paginate="row in lista|filter: q|itemsPerPage:10">
                		<td>{{row.nombre}}</td>
                
                		<td>{{row.direccion}}</td>
                
                		<td>{{row.telefono}}</td>
                
                		<td>{{row.pais}}</td>
                
                
				
				<td class="row">
                    <button type="button" class="btn btn-default" ng-click="editar(row)">
                        <span class="glyphicon glyphicon-pencil"></span>Editar
                    </button>
					<button type="button" class="btn btn-default" ng-click="eliminar(row)">
                        <span class="glyphicon glyphicon-remove"></span>Eliminar
                    </button>
                </td>
            </tr>
        </table>
		<div dir-pagination-controls></div>
		<br/>
    </div>
</div>

<div class="panel panel-primary" ng-show="panelEditar">
    <div class="panel-heading">Parametrizaci&oacute;n de Proveedor</div>
    <div class="panel-body">
        <form role="form" id="formularioEditar">
            				<div class="row">
                                <div class="form-group col-md-6" ng-class="errores.nombre?'error':''">
                                    <label for="nombre">nombre</label>
                                    <input id="nombre" 
                                           class="form-control" 
            							   type="text"
                                           ng-model="datosFormulario.nombre"
            							   placeholder="nombre"/>
                                    <div ng-show="errores.nombre">{{errores.nombre}}</div>
                                </div>
                            </div>				<div class="row">
                                <div class="form-group col-md-6" ng-class="errores.direccion?'error':''">
                                    <label for="direccion">direccion</label>
                                    <input id="direccion" 
                                           class="form-control" 
            							   type="text"
                                           ng-model="datosFormulario.direccion"
            							   placeholder="direccion"/>
                                    <div ng-show="errores.direccion">{{errores.direccion}}</div>
                                </div>
                            </div>				<div class="row">
                                <div class="form-group col-md-6" ng-class="errores.telefono?'error':''">
                                    <label for="telefono">telefono</label>
                                    <input id="telefono" 
                                           class="form-control" 
            							   type="text"
                                           ng-model="datosFormulario.telefono"
            							   placeholder="telefono"/>
                                    <div ng-show="errores.telefono">{{errores.telefono}}</div>
                                </div>
                            </div>				<div class="row">
                                <div class="form-group col-md-6" ng-class="errores.pais?'error':''">
                                    <label for="pais">pais</label>
                                    <input id="pais" 
                                           class="form-control" 
            							   type="text"
                                           ng-model="datosFormulario.pais"
            							   placeholder="pais"/>
                                    <div ng-show="errores.pais">{{errores.pais}}</div>
                                </div>
                            </div> 
			
			<div class="btn-group">
				<button type="button" class="btn btn-default" ng-click="guardar()">Aceptar</button>
                <button type="button" class="btn btn-default" ng-click="cancelar()">Cancelar</button>
            </div>
        </form>
    </div>
</div>

